<mat-card>
  <mat-card-content>
    <div class="sort d-flex w-100 justify-space-between">
      <button mat-raised-button class="mat-primary" (click)="sortByName()">Сортировать по названию</button>
      <button mat-raised-button class="mat-primary" (click)="sortByAuthor()">Сортировать по автору</button>
      <button mat-raised-button class="mat-primary" (click)="sortByPublishYear()">Сортировать по году издательства</button>
    </div>
    <mat-table *ngIf="(activeBookIndex | async) !== null; else emptyResult" [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.id }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Название</mat-header-cell>
        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.name }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Автор</mat-header-cell>

        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.author }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publishing">
        <mat-header-cell *matHeaderCellDef>Издательство</mat-header-cell>

        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.publishing }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publishYear">
        <mat-header-cell *matHeaderCellDef>Год издательства</mat-header-cell>

        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.publishYear }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Цена</mat-header-cell>

        <mat-cell *matCellDef="let book">
          <div class="title">{{ book.price }}</div>
        </mat-cell>
      </ng-container>

    </mat-table>
    <div class="d-flex">
      <div class="flex-1 align-items-center">
        <button mat-raised-button class="mat-primary" (click)="show()">Посмотреть</button>
        <div class="ml-20">Текущая: {{ (activeBookIndex | async) + 1 }}, Всего: {{ libraryKeys.length }}</div>
      </div>
      <div class="flex-1 align-items-center justify-center">
        <button mat-icon-button
                mat-raised-button
                class="mat-accent"
                [disabled]="(activeBookIndex | async) === 0 || (activeBookIndex | async) === null"
                (click)="prev()"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button
                mat-raised-button
                class="mat-accent ml-30"
                [disabled]="(activeBookIndex | async) === libraryKeys.length - 1 || (activeBookIndex | async) === null"
                (click)="next()"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div class="flex-1 align-items-center flex-end">
        <mat-form-field>
          <input matInput [formControl]="removeBookIndexCtrl">
        </mat-form-field>
        <button mat-raised-button class="mat-danger ml-20" [disabled]="removeBookIndexCtrl.invalid" (click)="remove()">Удалить</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #emptyResult>
  <div class="empty d-flex align-items-center justify-center">Библиотека</div>
</ng-template>
