<h3>{{ title }}</h3>
<mat-form-field>
  <input matInput type="number" [formControl]="numberCtrl" placeholder="Число">
</mat-form-field>
<br>
<button mat-raised-button class="mat-primary mr-20" (click)="guess()">Отгадать</button>
<button mat-raised-button class="mat-accent" (click)="restart()">Переиграть</button>
