<mat-card>
    <mat-card-header class="d-flex justify-center">
        <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex fd-column align-items-center">
        <div class="d-flex fd-column justify-center align-items-center" [formGroup]="loginForm">
            <mat-form-field>
                <input matInput placeholder="Логин" formControlName="login">
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Пароль" matInput formControlName="password">
            </mat-form-field>
        </div>
        <div class="actions d-flex fd-column justify-center align-items-center">
            <button mat-raised-button class="mat-primary" [disabled]="loginForm.invalid" (click)="apply()">Зарегистрироватсья</button>
            <button mat-button class="mat-accent" [disabled]="!loginForm.dirty" (click)="clear()">Очистить</button>
        </div>
    </mat-card-content>
</mat-card>
