<div class="d-flex">
    <div class="editor flex-1 fd-column mr-30">
        <div [formGroup]="personalInfoForm" class="fd-column">
            <mat-form-field>
                <input matInput
                       formControlName="secondName"
                       placeholder="Фамилия"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="firstName"
                       placeholder="Имя"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="patronymic"
                       placeholder="Отчество"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="nickname"
                       placeholder="Никнейм"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="comment"
                       placeholder="Комментарий"
                >
            </mat-form-field>
            <div class="groups">
                <h3>Группы</h3>
                <mat-checkbox class="mr-20" value="FAMILY" [checked]="familyChecked" (change)="changeGroups($event)">{{ groups.FAMILY }}</mat-checkbox>
                <mat-checkbox class="mr-20" value="WORK" [checked]="workChecked" (change)="changeGroups($event)">{{ groups.WORK }}</mat-checkbox>
                <mat-checkbox class="mr-20" value="FRIENDS" [checked]="friendsChecked" (change)="changeGroups($event)">{{ groups.FRIENDS }}</mat-checkbox>
            </div>
            <mat-form-field>
                <input matInput
                       formControlName="homePhone"
                       placeholder="Домашний телефон"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="mobilePhone"
                       placeholder="Мобильный телефон"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="secondMobilePhone"
                       placeholder="Второй мобильный телефон(не обязательно)"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="email"
                       placeholder="E-mail"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="skype"
                       placeholder="Skype"
                >
            </mat-form-field>
        </div>
        <div [formGroup]="addressForm" class="fd-column">
            <h3>Адресс</h3>
            <mat-form-field>
                <input matInput
                       formControlName="index"
                       placeholder="Индекс"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="city"
                       placeholder="Город"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="street"
                       placeholder="Улица"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="building"
                       placeholder="Дом"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       formControlName="flat"
                       placeholder="Квартира"
                >
            </mat-form-field>
        </div>

        <button mat-raised-button class="mat-primary" [disabled]="addressForm.invalid || personalInfoForm.invalid" (click)="createNote()" *ngIf="!editMode">Создать</button>
        <button mat-button class="mat-primary" [disabled]="addressForm.invalid || personalInfoForm.invalid" (click)="saveEditedNote()" *ngIf="editMode">Редактировать</button>
        <button mat-button class="mat-accent" (click)="cancel()">Отменить</button>
    </div>
    <div class="flex-1 fd-column" *ngIf="noteBook.length; else emptyNoteBook">
        <mat-select (valueChange)="changeNote($event)" placeholder="Выберите запись">
            <mat-option *ngFor="let note of noteBook; let i = index" [value]="i">{{ note.shortName }}</mat-option>
        </mat-select>
        <br>
        <div class="info-block" *ngIf="activeNote">
            <div class="d-flex justify-space-between align-items-center">
                <h3>
                    Информация:
                </h3>
                <div>
                    <button mat-icon-button mat-raised-button class="mat-accent mr-20" (click)="editNote()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button mat-raised-button class="mat-danger" (click)="removeNote()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Фамилия</div>
                <div class="flex-1">{{ activeNote.secondName }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Имя</div>
                <div class="flex-1">{{ activeNote.firstName }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Отчество</div>
                <div class="flex-1">{{ activeNote.patronymic }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">ФИ</div>
                <div class="flex-1">{{ activeNote.shortName }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Никнейм</div>
                <div class="flex-1">{{ activeNote.nickname }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Комментарий</div>
                <div class="flex-1">{{ activeNote.comment }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Группы</div>
                <div class="flex-1 fd-column">
                    <div *ngFor="let group of activeNote.groups ">{{ group }}</div>
                </div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Домашний телефон</div>
                <div class="flex-1">{{ activeNote.homePhone }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Мобильный телефон</div>
                <div class="flex-1">{{ activeNote.mobilePhone }}</div>
            </div>
            <div class="d-flex" *ngIf="activeNote.secondMobilePhone">
                <div class="flex-1">торой мобильный телефон</div>
                <div class="flex-1">{{ activeNote.secondMobilePhone }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">E-mail</div>
                <div class="flex-1">{{ activeNote.email }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Skype</div>
                <div class="flex-1">{{ activeNote.skype }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Индекс</div>
                <div class="flex-1">{{ activeNote.address.index }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Город</div>
                <div class="flex-1">{{ activeNote.address.city }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Улица</div>
                <div class="flex-1">{{ activeNote.address.street }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Дом</div>
                <div class="flex-1">{{ activeNote.address.building }}</div>
            </div>
            <div class="d-flex" *ngIf="activeNote.address.flat">
                <div class="flex-1">Квартира</div>
                <div class="flex-1">{{ activeNote.address.flat }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Полный адресс</div>
                <div class="flex-1">{{ activeNote.fullAddress }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Дата создания</div>
                <div class="flex-1">{{ activeNote.dateCreate }}</div>
            </div>
            <div class="d-flex">
                <div class="flex-1">Дата редактирования</div>
                <div class="flex-1">{{ activeNote.dateEdit }}</div>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyNoteBook>
    <h2>Ни одной записи не найдено. <br>Создайте новую запись чтобы просмотреть ее в форме слева</h2>
</ng-template>
