<mat-form-field>
    <input matInput placeholder="Введите текст" [formControl]="textCtrl">
</mat-form-field>

<button mat-raised-button class="mat-primary" (click)="apply()">Применить</button>
<div *ngIf="text">
    <h3>Текст: </h3>
    <div>{{ text }}</div>
</div>
