<mat-form-field class="w-100">
  <input matInput [formControl]="arrayCtrl" placeholder="Введите массив чисел через запятую">
</mat-form-field>

<button mat-raised-button class="mat-primary" (click)="calculate()">Посчитать</button>

<div *ngIf="resStructureKeys && resStructureKeys.length">
  <div *ngFor="let key of resStructureKeys">
    {{ key }} - {{ resStructure[key] }}
  </div>
</div>
