<mat-card [formGroup]="infoForm">
  <div class="d-flex">
    <mat-form-field class="flex-1 mr-30">
      <input matInput placeholder="Автор" formControlName="author">
    </mat-form-field>
    <mat-form-field class="flex-1 mr-30">
      <input matInput placeholder="Тема" formControlName="theme">
    </mat-form-field>
    <mat-form-field class="flex-1">
      <textarea class="textarea" matTextareaAutosize matInput placeholder="Текст" formControlName="text"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button class="mat-primary" [disabled]="infoForm.invalid" *ngIf="!activeMessage" (click)="createMessage()">Создать</button>
  <button mat-raised-button class="mat-primary" [disabled]="infoForm.invalid" *ngIf="activeMessage" (click)="saveEditedMessage()">Редактировать</button>
  <button mat-raised-button class="mat-accent ml-30" [disabled]="!infoForm.dirty" (click)="cancel()">Отменить</button>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Сообщения</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="messages | async">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.id }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Автор</mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.author }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="theme">
        <mat-header-cell *matHeaderCellDef>Тема</mat-header-cell>
        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.theme }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef>Текст</mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.text }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateCreate">
        <mat-header-cell *matHeaderCellDef>Дата создания</mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.dateCreate }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateEdit">
        <mat-header-cell *matHeaderCellDef>Дата редактирования</mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">{{ message.dateEdit }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>

        <mat-cell *matCellDef="let message">
          <div class="title">
            <button mat-raised-button class="mat-accent mr-20" (click)="editMessage(message)"><mat-icon>edit</mat-icon></button>
            <button mat-raised-button class="mat-danger" (click)="removeMessage(message)"><mat-icon>delete</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>

    </mat-table>
  </mat-card-content>
</mat-card>
