@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.fd-column
  display: flex
  flex-direction: column

.d-flex
  display: flex

.flex-1
  display: flex
  flex: 1

.flex-2
  display: flex
  flex: 2

.flex-3
  display: flex
  flex: 3

.align-items-center
  align-items: center

.justify-center
  justify-content: center

.justify-space-between
  justify-content: space-between

.flex-end
  justify-content: flex-end

.mr-20
  margin-right: 20px!important
.mr-30
  margin-right: 30px!important
.ml-30
  margin-left: 30px!important
.ml-20
  margin-left: 20px!important

.mat-danger
  background: rgba(255,0,0, .8)
  color: #fff

.w-100
  width: 100%

